body {
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
}

h1 {
    font-size: 30px;
}

#statusOk {
    color: #000000;
    font-size: 30px;
    background-color: #00CC00;
}

#configJson {
    width: 60%;
    height: 600px;
}